apiVersion: apps/v1
kind: Deployment
metadata:
  name: barbo-anwar-frontend
  namespace: grupp1
  labels:
    app: barbo-anwar-guestbook
spec:
  replicas: 1  # Ändrat från 2 till 1
  selector:
    matchLabels:
      app: barbo-anwar-frontend
  template:
    metadata:
      labels:
        app: barbo-anwar-frontend
    spec:
      containers:
      - name: frontend
        image: ghcr.io/anwarm391/barbo-anwar-guestbook-argocd/frontend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
        resources:
          limits:
            memory: 64Mi
            cpu: 100m
          requests:
            memory: 32Mi
            cpu: 10m  # Sänkt från 100m till 10m
---
apiVersion: v1
kind: Service
metadata:
  name: barbo-anwar-frontend
  namespace: grupp1
spec:
  ports:
  - port: 8080
  selector:
    app: barbo-anwar-frontend
